
.sign-up .container-fluid {
    text-align: center;
    background-color: #d9ecf2;
    max-width: 60%;
    border-radius: 20px;

}
.sign-up .intro h1 {
    color: #132743;
}

.sign-up .input-field {
    margin: 20px;
    color: #132743;
}
.sign-up .sign-up-info {
     text-align: left;
     padding: 0 30%;
 }

 .sign-up .input-ans {
    border-radius: 17px;
    outline: none;
}

.sign-up .btn {
    text-align: left;
    margin: 11px 10%;
}