.sign-up {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Tahoma';
}


.sign-up form{
    margin: 0 auto;
    background-color: #d9ecf2;
    padding: 35px;
    border-radius: 10%;
}

.sign-up h1{
    color: #132743;
}

.sign-up span{
    color: red;
}

.sign-up input{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px blue solid;
    margin-bottom: 15px;
}

.sign-up input:focus{
    outline: none;
    border-width: 2px;
}


.sign-up button{
    width: 100%;
    border-radius: 17px;
}