html {
    overflow: hidden;
    height: 100%;
}

body{
    overflow: hidden;
    height: 100%;
}

.react-confirm-alert-overlay{
    background: white;
    -webkit-animation: react-confirm-alert-fadeIn 0.0s 0.s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.0s 0.0s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.0s 0.0s forwards;
    animation: react-confirm-alert-fadeIn 0.0s 0.0s forwards;
}