.post-modal{
    background: rgba(0,0,0,0.5);
    color: black;
}

.post-modal .modal-content {
    border-radius: 300px;
}

.post-modal .modal-header{
    background-color: #ec9b3b;
    font-family: 'Syne Mono', monospace;
    font-size: 30px;
}

.post-modal .modal-body{
    background-color: #ece8d9;
}

.post-modal .btn{
    width: 100%;
}

.post-modal button:focus{
    outline: none;
    box-shadow: none;
}

.post-modal p{
    background: white;
    padding: 10px;
}

.post-modal label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.post-modal input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-modal textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
    overflow: none;
    max-height: 200px;
}