.post-modal{
    background: rgba(0,0,0,0.5);
    color: black;
}

.post-modal .modal-body{
    background-color: #9370db;
}

.post-modal .but {
  
    text-align: center;
}

.post-modal .creating-post{
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
}

.post-modal h3{
    text-align: center
}