.post-list {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f8efd4;
    overflow: auto;
}

.post-list header{
    max-width: 800px;
    margin: 0 auto;
}

.post-list h1 {
    color: #ff847c;
    font-family: 'Permanent Marker', cursive;
}

.post-list header button{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    background: orange;
}

.post-list header span{
    position: relative;
    bottom: 10px;
}

.post-list header button:hover{
   box-shadow: 0 0 20px black;
}

.post-list button:focus{
    outline: none;
    box-shadow: none;
}