/* First Section ~ Course ID, User ID, Review, Date Posted */
.post  {
    text-align: center;
    background-color: #aacfcf;
    margin: auto;
    margin-bottom: 50px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;  
}

@media screen and (max-width: 1000px) {
    .post {
        max-width: 79%;
    }
}

.post button{
    font-family: 'Tahoma';
}

.post button:focus{
    box-shadow: none;
    outline: none;
}

.post #course-id {
    margin: 30% auto 9%;
    padding: 10px;
    width: 70%;
    font-family: 'Arvo', serif;
}

.post .year, .post .prof {
    margin: 2% auto;
    width: 70%;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.post .review {
    margin: 2% 7% 0;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
    color: #000000;
    text-align: justify;
    overflow-wrap: break-word;
}

.post .date-posted, .post .username {
    font-family: 'Caveat', cursive;
    font-size: 21px;
    text-align: right;
    margin: 2% 7% 0;
}

.post hr { 
    height: 30px; 
    width: 90%;
    margin: 1rem auto;
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
  } 

  .post hr:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }
  

/*  Second Section ~ total number of likes, dislikes and user's rating   */
.post .likes, .post .dislikes, .post .users-rating {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

.post .likes-btn, .post .dislikes-btn {
    width: 30%;
    margin-bottom: 5%;
}

@media screen and (max-width: 800px) {
    .post .likes-btn, .post .dislikes-btn {
        width: 47%;
    }
}

.post .likes-count, .post .dislikes-count{
    font-family: 'Indie Flower', cursive;
    font-size: 1.6rem;
}

.post .ratings-score {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 5%;
}

.post .see-more{
    font-family: 'Nunito Sans';
    color: #0808d1;
    cursor: pointer;
}

.post .see-more:hover{
    text-decoration: underline;
}