

/* First Section ~ Course ID, User ID, Review, Date Posted */
.post  {
    text-align: center;
    background-color: #aacfcf;
    margin: auto;
    margin-bottom: 50px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;  
}

.post:last-child{
    margin-bottom: 100px;
}

.post #course-id {
    margin: 30% auto 11%;
    border-radius: 100%;
    padding: 10px;
    width: 70%;
    font-family: 'Arvo', serif;
}

.post .username {
    font-family:'Caveat', cursive;
    font-size: 21px;
}

.post .review {
    margin: 6% 7% 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 1.5;
    color: #000000;
    text-align: justify;
}

.post .date-posted {
    font-family: 'Caveat', cursive;
    font-size: 21px;
    text-align: right;
    margin: 2% 7% 0;
}

/* Second Section ~ total number of likes, dislikes and user's rating   */
.post .ratings {
    margin-top: 9%;
}

.post .likes, .post .dislikes, .post .users-rating {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

.post .likes-btn, .post .dislikes-btn {
    width: 30%;
    margin-bottom: 20%;
}

.post .ratings-score {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20%;
}