.deleteUser{
    position: relative;
    bottom: 50px;
    width: 47%;
    display: inline-block;
    border-radius: 30px 10px;
    border: 6px solid #1b262c;
    padding: 3%;
}


@media screen and (max-width: 600px){
    .deleteUser button{
        margin: 0 auto;
        font-size: 0.9rem;
    }
}