.settings {
    height: 92vh;
    background-color: #f7e7bd;
    overflow: auto;
    padding: 3%;
}

.settings h1 {
    margin: 1rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.3rem;
    color: #ff847c;
}

/* code for both username form/password form */
.settings h3 {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Balsamiq Sans', cursive;
}

.settings label {
    display: block;
    width: 90%;
    font-family: 'Architects Daughter', cursive;
    font-size: 17px;
}

.settings input {
    width: 90%;
    margin-bottom: 7px;
}

.settings span {
    color: red;
}

.settings button {
    width: 90%;
    margin-top: 20px;
    font-family: 'Balsamiq Sans', cursive;
    border: 3px solid;
}