.login form {
    font-family: 'Nunito Sans';
    font-size: 17px;
    background-color: #0c2233;
    padding: 50px;
    border-radius: 0 0 9px 9px;
}

.login h2 {
    font-size: 30px;
    color: #f4f9f4;
}
.login span {
    color: #e84a5f;
}

.login p, .login label {
    color: #ffc0d0;
}

.login input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px blue solid;
    font-family: 'Arial';
}

.login input:focus{
    outline: none;
    border-width: 2px;
}

.login button {
    margin: 10px 0 7px;
    border-radius: 17px;
}

.login button:focus{
    outline: none;
    box-shadow: none;
}