.sign-up form{
    font-family: 'Nunito Sans';
    background-color: #0c2233;
    padding: 35px;
}

.sign-up h1{
    color: #f4f9f4;
}

.sign-up p, .sign-up label {
    color: #ffc0d0;
}

.sign-up span{
    color: red;
}

.sign-up input{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px blue solid;
    margin-bottom: 20px;
}

.sign-up input:focus{
    outline: none;
    border-width: 2px;
}

.sign-up button{
    margin: 10px 0 7px;
    border-radius: 17px;
}

.sign-up button:focus{
    outline: none;
    box-shadow: none;
}