.admin{
    background-color: #2F2FA2;
    position: fixed;
    height: 100%;
    width: 100%;
}
hr{
    background-color: white;
}

h1{
    text-align: center;
    color: whitesmoke;
}

.btn-group-wrap {
    text-align: center;
    display: flex;
    align-items: center;

}

div.btn-group{
    text-align: center;
    margin: 0 auto;
  
}

