.dead-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f3eac2;
    text-align: center;
}

.dead-page h1 {
    color: #252a34;
    font-family: 'Syne Mono', monospace;
    font-size: 4.2rem;
}

.dead-page p {
    margin: 0 auto;
    color: #222831;
    font-family: 'Turret Road', cursive;
    font-size: 1.0rem;
}

.dead-page .fa-poo {
    font-size: 14rem;
    color:#87431d;
}

.dead-page ul{
    position: relative;
    right: 20px;
    text-align: center;
}

.dead-page li{
    display: inline-block;
    margin-left: 20px;
    font-size: 1.6rem;
    text-decoration: none;
    font-family: 'Balsamiq Sans', cursive;
}
