.signed-out-links .nav-item{
    margin-top: 15px;
    padding: 10px 5px;
    cursor: pointer;
}

.signed-out-links .nav-item:hover i,
.signed-out-links .nav-item:hover span{
    color: white;
}

.signed-out-links i{
    font-size: 1.2rem;
    color: black;
}

.signed-out-links span{
    font-size: 1.5rem;
    margin: auto 20px;
    color: black;
}

@media screen and (min-width: 992px){
    .signed-out-links span{
        margin-right: 0;
    }

    .signed-out-links .nav-item{
        padding: revert;
        margin: revert;
    }
}