.signed-in-links .nav-item{
    margin-top: 15px;
    padding: 10px 5px;
    cursor: pointer;
}

.signed-in-links .nav-item:hover i,
.signed-in-links .nav-item:hover span{
    color: white;
}

.signed-in-links i{
    font-size: 1.5rem;
    color: black;
}

.signed-in-links span{
    font-size: 1.5rem;
    margin: auto 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

@media screen and (min-width: 992px){
    .signed-in-links span{
        display: none;
    }

    .signed-in-links i{
        font-size: 2rem;
        margin-right: 15px;
    }

    .signed-in-links .fa-sign-out-alt{
        margin-right: 0;
    }

    .signed-in-links .nav-item{
        padding: revert;
        margin: revert;
    }
}