.search-course-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #add2c9;
    overflow: auto;
}

/* Title / Brand */
.search-course-container .brand {
   text-align: center;
   margin: 34px auto 77px;
   font-family: 'Lobster', cursive;
   font-size: 70px;
   color: #210D26;
}

.search-course-container .brand span {
    font-size: 5.5rem;
    margin: 12px;
}

/* Search Department */
.search-course{
    margin: 50px auto;
    max-width: 50%;
    border: 6px solid #3b2e5a;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
}

.search-course .select-course {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: #393e46;
}

.search-course select{
    margin: 30px;
    width: 70%;
    height: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #393e46;
}

/* Available Courses */
.search-course .course {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #686d76;
}

.search-course div{
    padding: 15px;
}

.search-course span{
    cursor: pointer;
}

.search-course span:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    .search-course .select-course {
        font-size: 2rem;
    }
}