.search-course-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #383838;
    overflow: auto;
}

.search-course{
    margin: 50px auto;
    max-width: 600px;
}

.search-course select{
    margin: auto;
    width: 100%;
    height: 2rem;
}

.search-course div{
    padding: 15px;
    cursor: pointer;
}

.search-course div:hover{
    background: gray;
}