.admin{
    background-color: #252a34;
    position: fixed;
    height: 100%;
    width: 100%;
}

.admin hr{
    background-color: white;
}

.admin h1{
    text-align: center;
    color: whitesmoke;
}

.admin .btn-group-wrap {
    text-align: center;
    display: flex;
    align-items: center;

}

.admin .btn-group{
    text-align: center;
    margin: 0 auto;
}

.admin tr td{
    text-align: center;
    padding: 15px;
    font-family: 'Tahoma';
    background: white;
}

.admin button:focus{
    outline: none;
    box-shadow: none;
}
