.admin{
    height: 92vh;
    background-color: #252a34;
    overflow: auto;
}

.admin h1{
    margin: 1.2rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.3rem;
    color: #ff847c;
}

.admin hr {
    height: 10px;
    color: #3b2e5a;
    background-image: linear-gradient(-45deg,
      transparent,
      transparent 25%,
      currentColor 25%,
      currentColor 50%,
      transparent 50%,
      transparent 75%,
      currentColor 75%);
    background-size: 10px 10px;
    width: 100%;
    margin-bottom: 30px;
}
  
/* Different Compartments */
.admin .compartments {
    font-size: 24px;
    font-family: 'Balsamiq Sans', cursive;
    color: #e1f4f3;
}

.admin .btn-group-wrap {
    text-align: center;
    display: flex;
    align-items: center;

}

.admin .btn-group{
    text-align: center;
    margin: 0 auto;
}

.admin .btn-group .btn{
    border: none;
}

.admin .selected-btn{
    background: #666;
}

.admin button:focus{
    outline: none;
    box-shadow: none;
}

.admin tr td{
    text-align: center;
    padding: 15px;
    font-family: 'Tahoma';
    background: #f4f9f4;
}