.course-table{
    max-width: 900px;
    margin: 30px auto 100px;
}

.course-table table{
    box-shadow: 0 0 5px black;
}

.course-table thead th{
    padding: 16px;
    background: #74b49b;
    font-family: 'Arvo', serif;
    font-size: 16px;
    text-align: left;
}

.course-table tbody tr td {
    font-family: 'Balsamiq Sans', cursive;
    text-align: left;
}

.course-table #number {
    width: 74%;
}