.departments-table{
    max-width: 800px;
    margin: 50px auto;
    font-family: 'Arial';
}

.departments-table h1{
    text-align: center;
}

.departments-table thead th{
    padding: 15px;
    background: lightblue;
}

.departments-table tr td{
    text-align: center;
    padding: 15px;
    font-family: 'Tahoma';
}

.departments-table button:focus{
    outline: none;
    box-shadow: none;
}