.department-table{
    max-width: 900px;
    margin: 30px auto 100px;
}

.department-table table{
    box-shadow: 0 0 5px black;
}

.department-table thead th{
    padding: 16px;
    background: #3186b2;
    font-family: 'Arvo', serif;
    font-size: 16px;
    text-align: left;
}

.department-table tbody tr td { 
    font-family: 'Balsamiq Sans', cursive;
    text-align: left;
}

.department-table #code {
    width: 40%;
}