.department-table{
    max-width: 800px;
    margin: 50px auto;
    font-family: 'Segoe UI';
}

.department-table table{
    box-shadow: 0 0 5px black;
}

.department-table h1{
    text-align: center;
}

.department-table thead th{
    padding: 15px;
    background: lightblue;
}