.user-table{
    max-width: 700px;
    margin: 30px auto 100px;
}


.user-table thead th{
    padding: 16px;
    background: #ecab69;
    font-family: 'Arvo', serif;
    font-size: 16px;
    text-align: left;
}

.user-table tbody tr td {
    font-family: 'Balsamiq Sans', cursive;
    text-align: left;
}